@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: fixed;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  min-height: 100vh;
  background-color: white;
}

.progress-div {
  position: absolute;
  top: 10%;
  background-color: rgb(233, 233, 233);
  border-radius: 0.5rem;
}

.progress {
  background-color: rgb(62, 122, 235);
  height: 10px;
  border-radius: 1rem;
}

#homeTitle {
  font-family: "GmarketSansBold";
  font-size: 36px;
  padding-bottom: 30px;
}

#homeStartBtn {
  margin: 24px;
  background: #68b6e3;
  border: none;
  border-radius: 32.5px;
  width: 310px;
  height: 64px;
  color: white;
  cursor: pointer;
}

#homeCountApply {
  margin: 0px;
}

#testQuestionNum {
  position: absolute;
  top: 11%;
  font-family: "GmarketSansBold";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

#testQuestion {
  font-family: "GmarketSansBold";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin: 33px;
  margin-bottom: 60px;
}

.testAnswer {
  background: #eeeeee;
  border-radius: 32.5px;
  width: 310px;
  height: 64px;
  border: none;
  cursor: pointer;
  margin: 8px;
  display: table;
}

.testAnswerP {
  font-family: "Noto Sans KR";
  font-weight: bold;
  font-size: 14px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
}

#answer:hover {
  background-color: skyblue;
}

#answer:active {
  background-color: blue;
}

#resultTitle {
  font-family: "GmarketSansBold";
  font-size: 36px;
  margin-top: 70px;
  margin-bottom: 10px;
}

#resultSimple {
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 36px;
}

#resultMain_Title {
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 14px;
  width: 310px;
  text-align: start;
  margin-top: 50px;
  margin-bottom: 10px;
}

#resultMain {
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-size: 14px;
  width: 310px;
  text-align: start;
  margin-bottom: 67px;
  line-height: 28px;
}

#resultProgramTitle {
  font-family: "GmarketSansBold";
  font-size: 24px;
  text-align: start;
  width: 310px;
  margin-bottom: 18px;
}

.resultPrograms {
  background: #eeeeee;
  height: 80px;
  width: 310px;
  margin: 10px;
  padding: 0px;
}

#programName {
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 14px;
}

#programDetail {
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-size: 14px;
}

#moreProgram {
  width: 182px;
  height: 36px;
  border: 1px solid #000000;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 84px;
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-size: 14px;
  display: table;
}

#resultShare {
  font-family: "GmarketSansBold";
  font-size: 24px;
  margin-top: 233px;
  margin-bottom: 16px;
}

#shareContainer {
  display: flex;
}

.shareIcon {
  margin: 5px;
  cursor: pointer;
  padding: 1px;
  border: 2px solid white;
}

.shareIcon:hover {
  border: 2px solid #bebebe;
  border-radius: 50px;
}

.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 11px;
  min-width: 200px;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 4px;
}

#resultRetryBtn {
  margin-top: 30px;
  background: #eeeeee;
  border: none;
  border-radius: 32.5px;
  width: 310px;
  height: 64px;
  cursor: pointer;
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 14px;
}

#resultShowAll {
  margin: 20px;
  margin-bottom: 133px;
  background: #eeeeee;
  border: none;
  border-radius: 32.5px;
  width: 310px;
  height: 64px;
  cursor: pointer;
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 14px;
}

#resultBtnContainer {
  margin-top: 44px;
  margin-bottom: 133px;
  height: 80px;
  width: 310px;
}

#resultRetry {
  background: #eeeeee;
  border: none;
  border-radius: 32.5px;
  width: 126px;
  height: 64px;
  cursor: pointer;
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 14px;
  margin-right: 14px;
}

#resultAll {
  background: #eeeeee;
  border: none;
  border-radius: 32.5px;
  width: 170px;
  height: 64px;
  cursor: pointer;
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 14px;
}
